header
    .logo
        a(href="#")
            img(src="img/logo.svg", alt="")
    .title
        h2 Welcome to our site
        h1 We create movement, not just site
    .scroll
        a(href="#about")
            i.fa.fa-4x.fa-angle-double-down
nav.menu-container
    .menu
        .menu-left-side
            .menu-logo
                img(src="img/logo.svg", alt="")
            .menu-list
                ul
                    li: a(href="#about") About
                    li: a(href="#mission") Mission
                    li: a(href="#works") Works
                    li: a(href="#pricing") Pricing
                    li: a(href="#blog") Blog
                    li: a(href="#contacts") Contacts
        .menu-right-side
            ul
                li: a(href="#facebook"): i.fa.fa-facebook.fa-2x
                li: a(href="#telegram"): i.fa.fa-telegram.fa-2x
                li: a(href="#twitter"): i.fa.fa-twitter.fa-2x
                li: a(href="#github"): i.fa.fa-github.fa-2x
            

