.preloader
    .preloader-circle
    .preloader-lines
        .line.line1 L
        .line.line2 O
        .line.line3 A
        .line.line4 D
        .line.line5 I
        .line.line6 N
        .line.line7 k