$menu-height: 90px
    
header
    //display: flex
    background: url('../img/header-bg.jpg') no-repeat center top / cover
    height: calc(100vh - #{$menu-height})
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.86) inset    
    .logo
        flex: 1 0 100%
        justify-content: center
        padding-top: 4vh
        img 
            height: 90px
