<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/js/script.js")
        title Webm.Pro
    body
        .preloader
            .preloader-circle            
            .preloader-lines
                .line.line1 L
                .line.line2 O
                .line.line3 A
                .line.line4 D
                .line.line5 I
                .line.line6 N
                .line.line7 G
                
          
